<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Garage V. Parrot{% endblock %}
        </title>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <style>
                [x-cloak] { display: none !important; }
            </style>
            <div class="app">
            <nav class="container">
                <div class="logo">
                    <a style="display:flex; flex-direction:row; gap: 24px;" href="{{ path('app_home') }}">
                        <h3>Garage V. Parrot</h3>
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="{{ path('app_about') }}">À Propos</a></li>
                        <li><a href="{{ path('app_contact') }}">Contact</a></li>
                        <li><a id="connexion" href="{{ path('app_connexion') }}">{{ user_role }}</a></li>
                    </ul>
                </div>
            </nav>
            <div class="title admin-title" style="display:flex; flex-direction: column; width: 90vw; justify-content:space-around;">
                <h1>Employé :</h1>
                <br>
                <div class="users admin-users">
                    <h2>Liste des avis à modérer :</h2>
                    <ul>
                        {% if avisNonValides is empty %}
                            <li>Aucun avis à modérer</li>
                        {% else %}
                            {% for avi in avisNonValides %}
                                <li style="margin:5px;">
                                    <strong>{{ avi.name }}</strong> ({{ avi.rating }} étoiles) :<br>
                                    {{ avi.message }}
                                    <br>
                                    <br>
                                    <a href="{{ path('app_valider_avis', {'id': avi.id}) }}" class="btn btn-success">Valider</a>
                                    <a href="{{ path('app_supprimer_avis', {'id': avi.id}) }}" class="btn btn-danger">Supprimer</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <br>
                <div>
                    <a class="btn btn-danger logout-link" href="{{ path('app_deconnexion') }}">Déconnexion</a>
                </div>  
            </div>               
        </div>
            

        {% endblock %}
    </body>
    <script>
        document.querySelectorAll('nav a').forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                window.location.href = this.href;
            });
        });
    </script>
</html>